<section class="inner">
    <div class="advanced-container-medium">
        <nav>
            <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" title="Джоконда" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Джоконда</span></a><meta itemprop="position" content="1"></li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="@Url.Action("Index", "Shop")" title="Интернет магазин" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Интернет магазин</span></a><meta itemprop="position" content="2"></li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Возврат и обмен</span></span><meta itemprop="position" content="3"></li>
            </ul>
        </nav>
        <article class="inner-container">
            <h1>Возврат и обмен</h1>
            <nav class="inner-menu columns show-for-xlarge">
                <ul class="menu vertical">
                    <li><a href="@Url.Action("Index", "Payment")">Оплата заказа</a></li>
                    <li><a href="@Url.Action("Index", "Delivery")">Доставка товара</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Return")">Возврат и обмен</a></li>
                </ul>
            </nav>
            <div class="inner-content columns">
                <div class="bx_page">
                    <p>
                        <br>Изделие с недостатками вы имеете право по своему выбору:                        
                        <br>- Вернуть купленный товар без оплаты.
                        <br>- Потребовать замены купленного товара на такой же товар.
                        <br>- Потребовать замены купленного товара другой модели с перерасчетом цены.
                        <br>- Потребовать уменьшения стоимости товара или безвозмездного устранения его недостатков.
                    </p>
                </div>
                <div class="bx_page">
                    <p>Вы имеете право предъявить перечисленные выше требования, обнаружив недостатки товара как при его доставке, 
                        так и в течение гарантийного срока или срока годности товара. Если же такие сроки не обозначены, то в течение разумного срока 
                        (но не более двух лет со дня доставки вам товара).</p>

                    <p>
                        При обнаружении недостатков у технически сложного товара, такого, как бытовая техника или компьютер, 
                        магазин обязан обменять данный товар на аналогичный или вернуть деньги в течение 15 дней со дня передачи вам товара ненадлежащего качества.</p>

                    <p>
                        <br>Если этот срок прошел, технически сложный товар можно будет обменять или вернуть только в следующих случаях:
                        <br>- У товара обнаружился существенный недостаток.
                        <br>- Продавец нарушил установленные законом сроки устранения недостатков.
                        <br>- Из-за необходимости устранения недостатков товар не может использоваться в совокупности более тридцати дней в течение гарантийного срока.
                    </p>
                </div>
            </div>
        </article>
    </div>
</section>
