<div class="catalog-groups-grid catalog-groups-grid--small-paddings">

    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Новинки" ga-event-non-interaction="false" href="/podborka/new-products/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/novinki.jpg" alt="Новинки">
        </div>

        <div class="group-card__title">
            Новинки
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Продукция собственного производства" ga-event-non-interaction="false" href="/catalog/produkciya-sobstvennogo-proizvodstva/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/produkciya-sobstvennogo-proizvodstva.jpg" alt="Продукция собственного производства">
        </div>

        <div class="group-card__title">
            Продукция собственного производства
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Фрукты и овощи" ga-event-non-interaction="false" href="/catalog/frukty-i-ovoshchi/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/frukti-i-ovoshi.jpg" alt="Фрукты и овощи">
        </div>

        <div class="group-card__title">
            Фрукты и овощи
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Мясо, птица, колбаса" ga-event-non-interaction="false" href="/catalog/myaso-ptica-kolbasa/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/myaso-prica-kolbasa.jpg" alt="Мясо, птица, колбаса">
        </div>

        <div class="group-card__title">
            Мясо, птица, колбаса
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Молоко, сыр, яйцо" ga-event-non-interaction="false" href="/catalog/moloko-syr-yajjco/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/moloko-sir-yayco.jpg" alt="Молоко, сыр, яйцо">
        </div>

        <div class="group-card__title">
            Молоко, сыр, яйцо
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Хлеб и хлебобулочные изделия" ga-event-non-interaction="false" href="/catalog/hleb-i-hlebobulochnye-izdeliya/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/hleb-i-hlebobulochnie-izdeliya.jpg" alt="Хлеб и хлебобулочные изделия">
        </div>

        <div class="group-card__title">
            Хлеб и хлебобулочные изделия
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Бакалея" ga-event-non-interaction="false" href="/catalog/bakaleya/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/bakaleya.jpg" alt="Бакалея">
        </div>

        <div class="group-card__title">
            Бакалея
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Рыба и морепродукты" ga-event-non-interaction="false" href="/catalog/ryba-i-moreprodukty/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/riba-i-moreprodukti.jpg" alt="Рыба и морепродукты">
        </div>

        <div class="group-card__title">
            Рыба и морепродукты
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Замороженная продукция" ga-event-non-interaction="false" href="/catalog/zamorozhennaya-produkciya/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/zamorozhenaya-produkciya.jpg" alt="Замороженная продукция">
        </div>

        <div class="group-card__title">
            Замороженная продукция
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Кондитерские изделия" ga-event-non-interaction="false" href="/catalog/konditerskie-izdeliya/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/konditerskie-izdeliya.jpg" alt="Кондитерские изделия">
        </div>

        <div class="group-card__title">
            Кондитерские изделия
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Чай, кофе, какао" ga-event-non-interaction="false" href="/catalog/chajj-kofe-kakao/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/chay-kofe-kakao.jpg" alt="Чай, кофе, какао">
        </div>

        <div class="group-card__title">
            Чай, кофе, какао
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Алкогольные напитки" ga-event-non-interaction="false" href="/catalog/alkogolnye-napitki/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/alkogolnie-napitki.jpg" alt="Алкогольные напитки">
        </div>

        <div class="group-card__title">
            Алкогольные напитки
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Безалкогольные напитки" ga-event-non-interaction="false" href="/catalog/bezalkogolnye-napitki/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/bezalkogolnie-napitki.jpg" alt="Безалкогольные напитки">
        </div>

        <div class="group-card__title">
            Безалкогольные напитки
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Всё для дома" ga-event-non-interaction="false" href="/catalog/vse-dlya-doma/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/vse-dlya-doma.jpg" alt="Всё для дома">
        </div>

        <div class="group-card__title">
            Всё для дома
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Посуда" ga-event-non-interaction="false" href="/catalog/posuda/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/posuda.jpg" alt="Посуда">
        </div>

        <div class="group-card__title">
            Посуда
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Товары для детей" ga-event-non-interaction="false" href="/catalog/tovary-dlya-detejj/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/tovari-dlya-detey.jpg" alt="Товары для детей">
        </div>

        <div class="group-card__title">
            Товары для детей
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Товары для животных" ga-event-non-interaction="false" href="/catalog/tovary-dlya-zhivotnyh/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/tovari-dlya-zhivotnih.jpg" alt="Товары для животных">
        </div>

        <div class="group-card__title">
            Товары для животных
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Здоровое питание" ga-event-non-interaction="false" href="/catalog/zdorovoe-pitanie/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/zdorovoe-pitanie.jpg" alt="Здоровое питание">
        </div>

        <div class="group-card__title">
            Здоровое питание
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Красота и здоровье" ga-event-non-interaction="false" href="/catalog/krasota-i-zdorove/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/krasota-i-zdorovye.jpg" alt="Красота и здоровье">
        </div>

        <div class="group-card__title">
            Красота и здоровье
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Бытовая химия" ga-event-non-interaction="false" href="/catalog/bytovaya-himiya/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/bitovaya-himiya.jpg" alt="Бытовая химия">
        </div>

        <div class="group-card__title">
            Бытовая химия
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Бытовая техника и электроника" ga-event-non-interaction="false" href="/catalog/bytovaya-tehnika-i-elektronika/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/bitovaya-tehnika-i-elektronika.jpg" alt="Бытовая техника и электроника">
        </div>

        <div class="group-card__title">
            Бытовая техника и электроника
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Текстиль для дома" ga-event-non-interaction="false" href="/catalog/tekstil-dlya-doma/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/tekstil-dlya-doma.jpg" alt="Текстиль для дома">
        </div>

        <div class="group-card__title">
            Текстиль для дома
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Одежда и обувь" ga-event-non-interaction="false" href="/catalog/odezhda-i-obuv/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/odezhda-i-obuv.jpg" alt="Одежда и обувь">
        </div>

        <div class="group-card__title">
            Одежда и обувь
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Спорт и активный отдых" ga-event-non-interaction="false" href="/catalog/sport-i-aktivnyjj-otdyh/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/sport-i-aktivniy-otdih.jpg" alt="Спорт и активный отдых">
        </div>

        <div class="group-card__title">
            Спорт и активный отдых
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Дача, сад" ga-event-non-interaction="false" href="/catalog/dacha-sad/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/dacha-sad.jpg" alt="Дача, сад">
        </div>

        <div class="group-card__title">
            Дача, сад
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Автотовары" ga-event-non-interaction="false" href="/catalog/avtotovary/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/avtotovari.jpg" alt="Автотовары">
        </div>

        <div class="group-card__title">
            Автотовары
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Цветы" ga-event-non-interaction="false" href="/catalog/cvety/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/cveti.jpg" alt="Цветы">
        </div>

        <div class="group-card__title">
            Цветы
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>
    <a ga-on="click" ga-event-category="catalog:navigation" ga-event-action="goToGroup" ga-event-label="Канцелярия и печатная продукция" ga-event-non-interaction="false" href="/catalog/kancelyariya-i-pechatnaya-produkciya/" class="group-card">
        <div class="group-card__image ">
            <img src="/images/kancelyariya-i-pechatnaya-produkciya.jpg" alt="Канцелярия и печатная продукция">
        </div>

        <div class="group-card__title">
            Канцелярия и печатная продукция
        </div>

        <div class="group-card__icon">
            <svg class="icon "><use xlink:href="#chevron-right-regular"></use></svg>
        </div>
    </a>

</div>

<style>
    .catalog-groups-grid {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .group-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(20% + 1px);
        min-height: 198px;
        margin: -1px 0 0 -1px;
        padding: 32px 18px 25px;
        text-decoration: none;
        box-sizing: border-box;
        border-radius: 4px;
        color: #555;
        border: 1px solid #e6e6e6;
    }

    .group-card__icon, .group-card__image--empty {
        display: none;
    }

    .catalog-groups-page .slider-block {
        margin: 20px 0;
        padding: 0;
    }

    .group-card__image {
        height: 90px;
        margin: 0 0 16px;
        text-align: center;
    }

    .group-card__title {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
    }

    .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: top;
        fill: #9d9d9d;
    }
</style>