<section class="inner">
    <div class="advanced-container-medium">
        <nav>
            <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" title="Джоконда" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Джоконда</span></a><meta itemprop="position" content="1"></li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">О компании</span></span><meta itemprop="position" content="2"></li>
            </ul>
        </nav>
        <article class="inner-container">
            <h1>О компании</h1>
            <nav class="inner-menu columns show-for-xlarge">
                <ul class="menu vertical">
                    <li class="active"><a href="@Url.Action("Index", "AboutUs")">О Нас</a></li>
                    <li><a href="@Url.Action("Index", "Document")">Документы</a></li>
                    <li><a href="/documents/dogovor/">Договор оферты</a></li>
                    <li><a href="/documents/confident/">Политика конфиденциальности</a></li>
                </ul>
            </nav>
            <div class="inner-content columns">
                <h2 style="text-align: left;">Джоконда</h2>
                <p style="text-align: left;">
                    <b>О нас</b>
                </p>
                <p>
                    Джоконда - это онлайн-сервис доставки продуктов и товаров первой необходимости.
                </p>
                <p style="text-align: left;">
                    <b>Почему покупку продуктов можно доверить Джоконде?</b>
                </p>
                <p>
                    <span style="text-align: center;">100% качество</span>
                </p>
                <p style="text-align: left;">
                    Товары, которые вы заказали, отбирают специально обученные эксперты по закупкам. Они знают, как быстро найти лучшие фрукты и овощи, проверить сроки годности и правильно упаковать заказ, чтобы продукты приехали к вам так, как будто вы только что взяли их с полки магазина.
                </p>
                <p style="text-align: left;">
                    <b>Доставим за 30 минут</b>
                </p>
                <p style="text-align: left;">
                    Время и место доставки выбираете вы. Мы доставим заказ за 30 минут, или в удобное время в течении рабочего дня. Интервал ожидания заказа всего 30 минут. 
                </p>
                <p style="text-align: left;">
                    <b>Донесём тяжёлые сумки</b>
                </p>
                <p style="text-align: left;">
                    С Джокондой вы забудете о тяжёлых сумках. Доставка заказов до 30 кг уже входит в стоимость сервиса. Наши курьеры донесут их до двери, даже если вы живёте в доме без лифта.
                </p>
                <p style="text-align: left;">
                    <b>Наша Миссия — экономить время, энергию и деньги людей для чего-то более важного</b>
                </p>
                <p style="text-align: left;">
                </p>
                <p style="text-align: left;">
                    Основой нашего отношения к бизнесу, сотрудникам и клиентам являются миссия и принципы. Согласно им мы собираем нашу команду, принимаем решения, строим работу, чтобы вы могли получить максимально высокий уровень сервиса.
                </p>
                <br>
            </div>
        </article>
    </div>
</section>