<section class="inner">
    <div class="advanced-container-medium">
        <nav>
            <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" title="Джоконда" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Джоконда</span></a><meta itemprop="position" content="1"></li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="@Url.Action("Index", "Info")" title="Информация" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Информация</span></a><meta itemprop="position" content="2"></li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Поставщикам</span></span><meta itemprop="position" content="3"></li>
            </ul>
        </nav>
        <article class="inner-container">
            <h1>Поставщикам</h1>
            <nav class="inner-menu columns show-for-xlarge">
                <ul class="menu vertical">
                    <li><a href="@Url.Action("Index", "Info")">Информация</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Supplier")">Поставщикам</a></li>
                    <li><a href="/info/guaranty/">Гарантия</a></li>
                    <li><a href="/faq/">FAQ</a></li>
                </ul>
            </nav>
            <div class="inner-content columns">
                <p>
                    Мы рады сотрудничеству со всеми поставщиками. Нам важен профессионализм, а не масштаб партнёра-поставщика.
                </p>
                <p>
                    Осуществляя свою коммерческую деятельность, мы соблюдаем законодательство, придерживаемся единого подхода к заключению договоров 
                    и дальнейшему сотрудничеству и стараемся строить максимально выгодные для обеих сторон партнерские отношения со всеми поставщиками. 
                    Все справки по почте <a href="mailto:Dzhokonda@mail.ru">Dzhokonda@mail.ru</a> и по номеру 777-540-92.
                </p>
                <br>
            </div>
        </article>
    </div>
</section>
