
<section>
    <div class="main-slider-banner">
    </div>

    <div class="owl-carousel main-slider">
        <div class="item vertical-middle" id="bx_3218110189_1443">
            <div class="background white" style="background-image:url(images/bda1d3f37fecefef7a4dfc61fcad91a6.jpg);">
                <span class="container row">
                    <span class="main-slider-caption">
                    </span>
                    <span class="main-slider-desc"></span>
                </span>
            </div>
        </div>
        <div class="item vertical-middle" id="bx_3218110189_3567">
            <div class="background black" style="background-image:url(images/38878f31515991896c2ecdfa8bf7574c.jpg);">
                <span class="container row">
                    <span class="main-slider-caption">
                    </span>
                    <span class="main-slider-desc"></span>
                </span>
            </div>
        </div>
        <div class="item vertical-middle" id="bx_3218110189_3439">
            <div class="background black" style="background-image:url(images/b58a64e0c4097eccb91e41a7904f96cc.jpg);">
                <span class="container row">
                    <span class="main-slider-caption">
                    </span>
                    <span class="main-slider-desc"></span>
                </span>
            </div>
        </div>
        <div class="item vertical-middle" id="bx_3218110189_2375">
            <div class="background black" style="background-image:url(images/bb784dddff50a84873f2236c9f25ea1e.jpg);">
                <span class="container row">
                    <span class="main-slider-caption">
                    </span>
                    <span class="main-slider-desc"></span>
                </span>
            </div>
        </div>
        <div class="item vertical-middle" id="bx_3218110189_113">
            <div class="background white" style="background-image:url(images/f44206d1124ef23e47847e39f586bc6e.jpg);">
                <span class="container row">
                    <span class="main-slider-caption">
                    </span>
                    <span class="main-slider-desc">Наши овощи проходят тщательную проверку, благодаря этому, они богаты витаминами</span>
                </span>
            </div>
        </div>
    </div>
    
    <br>

    <div id="bxdynamic_jmonnO_end" style="display:none"></div>                       
    
    <br>
    
    @*<h1 align="center">Успей купить</h1>*@
    <h1 align="center">Наши Спецпредложения</h1>

    <div class="product-seeit">
        <div class="container row">
            <div class="h2"></div>
            <div class="owl-carousel product-carousel product-grid">
                <div class="item column text-center hover-elements" id="bx_3966226736_161180">
                    
                    
                    
                    <div class="img-wrap">
                        <a href="/catalog/spetspredlozheniya/banan_1kg.html">
                            <img id="bx_3966226736_161180_pict" src="~/images/ebfe9403339a74e8d0b37bcc3bdbfca6.jpeg" data-src="/upload/resize_cache/iblock/ebf/170_150_0/ebfe9403339a74e8d0b37bcc3bdbfca6.jpeg" class="thumbnail lazy" alt="Банан 1кг">
                        </a>
                    </div>

                    <img id="bx_3966226736_161180_secondpict" src="~/images/3a6f7773bcf7de237a3863264f6717f6.jpeg" class="thumbnail" alt="Банан 1кг" style="display: none;">
                    
                    <div class="name">
                        <a href="/catalog/spetspredlozheniya/banan_1kg.html" class="name"><span>Банан 1кг</span></a>
                    </div>

                    <div id="bx_3966226736_161180_price_block">
                        <div class="price" id="bx_3966226736_161180_price">
                            28 р.
                        </div>
                    </div>

                    @*<div class="product-action-label time-buy left">Успей купить</div>*@

                    <div class="hover-show bx_catalog_item_controls">
                        <div class="hover-buttons">
                            <div class="float-right">
                                <a href="#" class="button transparent add2liked" title="В избранное">
                                    <svg class="icon">
                                        <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                    </svg>
                                </a>
                                <a href="javascript:void(0);" id="bx_3966226736_161180_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="16118">
                                    <svg class="icon">
                                        <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                    </svg>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <a href="#" data-href="/catalog/spetspredlozheniya/banan_1kg.html?load=Y" id="bx_3966226736_161180_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                        </div>
                        <div id="bx_3966226736_161180_price_hover_block">
                        </div>
                        @*<div class="product-action-banner timer text-center show-for-large">
                            <div class="table-container float-center">
                                <div class="info table-item">
                                    <div class="table-container">
                                        <div class="table-item time hour"><strong>00</strong> час</div>
                                        <div class="table-item time min"><strong>00</strong> мин</div>
                                        <div class="table-item time sec"><strong>00</strong> сек</div>
                                    </div>
                                </div>
                                <div class="counter table-item"><strong>24</strong> кг</div>
                            </div>
                        </div>*@
                        <div class="row row-count-cart">
                            <div class="small-6 column">
                                <div class="product-count">
                                    <div class="input-group">
                                        <div class="input-group-button">
                                            <button id="bx_3966226736_161180_quant_down" class="button decrement" type="button">-</button>
                                        </div>
                                        <input class="input-group-field" type="number" id="bx_3966226736_161180_quantity" name="quantity" value="1" min="1">
                                        <div class="input-group-button">
                                            <button id="bx_3966226736_161180_quant_up" class="button increment" type="button">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="bx_3966226736_161180_basket_actions" class="small-6 columns">
                                <a id="bx_3966226736_161180_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_3966226736_161180_pict" data-product-id="16118"><span>В корзину</span></a>
                            </div>
                        </div>
                        <div id="bx_3966226736_161180_basket_prop" style="display: none;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Мы рекомендуем</td>
                                        <td>
                                            <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="item column text-center hover-elements" id="bx_3966226736_161190">
                    <div class="img-wrap">
                        <a href="/catalog/spetspredlozheniya/khurma_1kg.html">
                            <img id="bx_3966226736_161190_pict" src="~/images/7678533c82e268727acf133c22a3221a.jpg" data-src="/upload/resize_cache/iblock/767/170_150_0/7678533c82e268727acf133c22a3221a.jpg" class="thumbnail lazy" alt="Апельсины 1кг">
                        </a>
                    </div>
                    <img id="bx_3966226736_161190_secondpict" src="~/images/9140c33d986c9bb4cbb6e8ff33c1f505.jpg" class="thumbnail" alt="Апельсины 1кг" style="display: none;">
                    <div class="name">
                        <a href="/catalog/spetspredlozheniya/khurma_1kg.html" class="name"><span>Апельсины 1кг</span></a>
                    </div>
                    <div id="bx_3966226736_161190_price_block">
                        <div class="price" id="bx_3966226736_161190_price">
                            25 р.
                        </div>
                    </div>
                    @*<div class="product-action-label time-buy left">Успей купить</div>*@
                    <div class="hover-show bx_catalog_item_controls">
                        <div class="hover-buttons">
                            <div class="float-right">
                                <a href="#" class="button transparent add2liked" title="В избранное">
                                    <svg class="icon">
                                        <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                    </svg>
                                </a>
                                <a href="javascript:void(0);" id="bx_3966226736_161190_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="16119">
                                    <svg class="icon">
                                        <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                    </svg>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <a href="#" data-href="/catalog/spetspredlozheniya/khurma_1kg.html?load=Y" id="bx_3966226736_161190_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                        </div>
                        <div id="bx_3966226736_161190_price_hover_block">
                        </div>
                        @*<div class="product-action-banner timer text-center show-for-large">
                            <div class="table-container float-center">
                                <div class="info table-item">
                                    <div class="table-container">
                                        <div class="table-item time hour"><strong>00</strong> час</div>
                                        <div class="table-item time min"><strong>00</strong> мин</div>
                                        <div class="table-item time sec"><strong>00</strong> сек</div>
                                    </div>
                                </div>
                                <div class="counter table-item"><strong>24</strong> шт</div>
                            </div>
                        </div>*@
                        <div class="row row-count-cart">
                            <div class="small-6 column">
                                <div class="product-count">
                                    <div class="input-group">
                                        <div class="input-group-button">
                                            <button id="bx_3966226736_161190_quant_down" class="button decrement" type="button">-</button>
                                        </div>
                                        <input class="input-group-field" type="number" id="bx_3966226736_161190_quantity" name="quantity" value="1" min="1">
                                        <div class="input-group-button">
                                            <button id="bx_3966226736_161190_quant_up" class="button increment" type="button">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="bx_3966226736_161190_basket_actions" class="small-6 columns">
                                <a id="bx_3966226736_161190_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_3966226736_161190_pict" data-product-id="16119"><span>В корзину</span></a>
                            </div>
                        </div>
                        <div id="bx_3966226736_161190_basket_prop" style="display: none;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Мы рекомендуем</td>
                                        <td>
                                            <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="item column text-center hover-elements" id="bx_3966226736_161230">
                    <div class="img-wrap">
                        <a href="/catalog/spetspredlozheniya/pomidory_1kg_.html">
                            <img id="bx_3966226736_161230_pict" src="~/images/d139c303eed18e9a03381846841760ca_1.jpg" data-src="/upload/resize_cache/iblock/d13/170_150_0/d139c303eed18e9a03381846841760ca.jpg" class="thumbnail lazy" alt="Помидоры 1кг ">
                        </a>
                    </div>
                    <img id="bx_3966226736_161230_secondpict" src="~/images/d139c303eed18e9a03381846841760ca.jpg" class="thumbnail" alt="Помидоры 1кг " style="display: none;">
                    <div class="name">
                        <a href="/catalog/spetspredlozheniya/pomidory_1kg_.html" class="name"><span>Помидоры 1кг </span></a>
                    </div>
                    <div id="bx_3966226736_161230_price_block">
                        <div class="price" id="bx_3966226736_161230_price">
                            23.50 р.
                        </div>
                    </div>
                    @*<div class="product-action-label time-buy left">Успей купить</div>*@
                    <div class="hover-show bx_catalog_item_controls">
                        <div class="hover-buttons">
                            <div class="float-right">
                                <a href="#" class="button transparent add2liked" title="В избранное">
                                    <svg class="icon">
                                        <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                    </svg>
                                </a>
                                <a href="javascript:void(0);" id="bx_3966226736_161230_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="16123">
                                    <svg class="icon">
                                        <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                    </svg>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <a href="#" data-href="/catalog/spetspredlozheniya/pomidory_1kg_.html?load=Y" id="bx_3966226736_161230_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                        </div>
                        <div id="bx_3966226736_161230_price_hover_block">
                        </div>
                        @*<div class="product-action-banner timer text-center show-for-large">
                            <div class="table-container float-center">
                                <div class="info table-item">
                                    <div class="table-container">
                                        <div class="table-item time hour"><strong>00</strong> час</div>
                                        <div class="table-item time min"><strong>00</strong> мин</div>
                                        <div class="table-item time sec"><strong>00</strong> сек</div>
                                    </div>
                                </div>
                                <div class="counter table-item"><strong>24</strong> шт</div>
                            </div>
                        </div>*@
                        <div class="row row-count-cart">
                            <div class="small-6 column">
                                <div class="product-count">
                                    <div class="input-group">
                                        <div class="input-group-button">
                                            <button id="bx_3966226736_161230_quant_down" class="button decrement" type="button">-</button>
                                        </div>
                                        <input class="input-group-field" type="number" id="bx_3966226736_161230_quantity" name="quantity" value="1" min="1">
                                        <div class="input-group-button">
                                            <button id="bx_3966226736_161230_quant_up" class="button increment" type="button">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="bx_3966226736_161230_basket_actions" class="small-6 columns">
                                <a id="bx_3966226736_161230_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_3966226736_161230_pict" data-product-id="16123"><span>В корзину</span></a>
                            </div>
                        </div>
                        <div id="bx_3966226736_161230_basket_prop" style="display: none;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Мы рекомендуем</td>
                                        <td>
                                            <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="item column text-center hover-elements" id="bx_3966226736_161200">
                    <div class="img-wrap">
                        <a href="/catalog/spetspredlozheniya/kivi_1kg_.html">
                            <img id="bx_3966226736_161200_pict" src="~/images/ae24ee9db8460302eea6534f1067ec5e.jpg" data-src="/upload/resize_cache/iblock/ae2/170_150_0/ae24ee9db8460302eea6534f1067ec5e.jpg" class="thumbnail lazy" alt="Киви 1кг ">
                        </a>
                    </div>
                    <img id="bx_3966226736_161200_secondpict" src="~/images/ae24ee9db8460302eea6534f1067ec5e_1.jpg" class="thumbnail" alt="Киви 1кг " style="display: none;">
                    <div class="name">
                        <a href="/catalog/spetspredlozheniya/kivi_1kg_.html" class="name"><span>Киви 1кг </span></a>
                    </div>
                    <div id="bx_3966226736_161200_price_block">
                        <div class="price" id="bx_3966226736_161200_price">
                            30 р.
                        </div>
                    </div>
                    @*<div class="product-action-label time-buy left">Успей купить</div>*@
                    <div class="hover-show bx_catalog_item_controls">
                        <div class="hover-buttons">
                            <div class="float-right">
                                <a href="#" class="button transparent add2liked" title="В избранное">
                                    <svg class="icon">
                                        <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                    </svg>
                                </a>
                                <a href="javascript:void(0);" id="bx_3966226736_161200_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="16120">
                                    <svg class="icon">
                                        <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                    </svg>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <a href="#" data-href="/catalog/spetspredlozheniya/kivi_1kg_.html?load=Y" id="bx_3966226736_161200_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                        </div>
                        <div id="bx_3966226736_161200_price_hover_block">
                        </div>
                        @*<div class="product-action-banner timer text-center show-for-large">
                            <div class="table-container float-center">
                                <div class="info table-item">
                                    <div class="table-container">
                                        <div class="table-item time hour"><strong>00</strong> час</div>
                                        <div class="table-item time min"><strong>00</strong> мин</div>
                                        <div class="table-item time sec"><strong>00</strong> сек</div>
                                    </div>
                                </div>
                                <div class="counter table-item"><strong>24</strong> шт</div>
                            </div>
                        </div>*@
                        <div class="row row-count-cart">
                            <div class="small-6 column">
                                <div class="product-count">
                                    <div class="input-group">
                                        <div class="input-group-button">
                                            <button id="bx_3966226736_161200_quant_down" class="button decrement" type="button">-</button>
                                        </div>
                                        <input class="input-group-field" type="number" id="bx_3966226736_161200_quantity" name="quantity" value="1" min="1">
                                        <div class="input-group-button">
                                            <button id="bx_3966226736_161200_quant_up" class="button increment" type="button">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="bx_3966226736_161200_basket_actions" class="small-6 columns">
                                <a id="bx_3966226736_161200_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_3966226736_161200_pict" data-product-id="16120"><span>В корзину</span></a>
                            </div>
                        </div>
                        <div id="bx_3966226736_161200_basket_prop" style="display: none;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Мы рекомендуем</td>
                                        <td>
                                            <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="item column text-center hover-elements" id="bx_3966226736_161210">
                    <div class="img-wrap">
                        <a href="/catalog/spetspredlozheniya/ogurtsy_orzu.html">
                            <img id="bx_3966226736_161210_pict" src="~/images/537a41f2f4c6227593eea804173904f0.jpg" data-src="/upload/resize_cache/iblock/537/170_150_0/537a41f2f4c6227593eea804173904f0.jpg" class="thumbnail lazy" alt="Огурцы Орзу 1кг">
                        </a>
                    </div>
                    <img id="bx_3966226736_161210_secondpict" src="~/images/537a41f2f4c6227593eea804173904f0_1.jpg" class="thumbnail" alt="Огурцы Орзу 1кг" style="display: none;">
                    <div class="name">
                        <a href="/catalog/spetspredlozheniya/ogurtsy_orzu.html" class="name"><span>Огурцы Орзу 1кг</span></a>
                    </div>
                    <div id="bx_3966226736_161210_price_block">
                        <div class="price" id="bx_3966226736_161210_price">
                            15.50 р.
                        </div>
                    </div>
                    @*<div class="product-action-label time-buy left">Успей купить</div>*@
                    <div class="hover-show bx_catalog_item_controls">
                        <div class="hover-buttons">
                            <div class="float-right">
                                <a href="#" class="button transparent add2liked" title="В избранное">
                                    <svg class="icon">
                                        <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                    </svg>
                                </a>
                                <a href="javascript:void(0);" id="bx_3966226736_161210_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="16121">
                                    <svg class="icon">
                                        <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                    </svg>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <a href="#" data-href="/catalog/spetspredlozheniya/ogurtsy_orzu.html?load=Y" id="bx_3966226736_161210_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                        </div>
                        <div id="bx_3966226736_161210_price_hover_block">
                        </div>
                        @*<div class="product-action-banner timer text-center show-for-large">
                            <div class="table-container float-center">
                                <div class="info table-item">
                                    <div class="table-container">
                                        <div class="table-item time hour"><strong>00</strong> час</div>
                                        <div class="table-item time min"><strong>00</strong> мин</div>
                                        <div class="table-item time sec"><strong>00</strong> сек</div>
                                    </div>
                                </div>
                                <div class="counter table-item"><strong>24</strong> шт</div>
                            </div>
                        </div>*@
                        <div class="row row-count-cart">
                            <div class="small-6 column">
                                <div class="product-count">
                                    <div class="input-group">
                                        <div class="input-group-button">
                                            <button id="bx_3966226736_161210_quant_down" class="button decrement" type="button">-</button>
                                        </div>
                                        <input class="input-group-field" type="number" id="bx_3966226736_161210_quantity" name="quantity" value="1" min="1">
                                        <div class="input-group-button">
                                            <button id="bx_3966226736_161210_quant_up" class="button increment" type="button">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="bx_3966226736_161210_basket_actions" class="small-6 columns">
                                <a id="bx_3966226736_161210_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_3966226736_161210_pict" data-product-id="16121"><span>В корзину</span></a>
                            </div>
                        </div>
                        <div id="bx_3966226736_161210_basket_prop" style="display: none;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Мы рекомендуем</td>
                                        <td>
                                            <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="item column text-center hover-elements" id="bx_3966226736_211490">
                    <div class="img-wrap">
                        <a href="/catalog/spetspredlozheniya/ogurtsy_rodnichok_marinovannye_s_b_2l.html">
                            <img id="bx_3966226736_211490_pict" src="~/images/375b564c3d789a058226bc4af34a1a4f.jpg" data-src="/upload/resize_cache/iblock/375/170_150_0/375b564c3d789a058226bc4af34a1a4f.jpg" class="thumbnail lazy" alt="Огурцы Родничок маринованные с/б 2л">
                        </a>
                    </div>
                    <img id="bx_3966226736_211490_secondpict" src="~/images/375b564c3d789a058226bc4af34a1a4f_1.jpg" class="thumbnail" alt="Огурцы Родничок маринованные с/б 2л" style="display: none;">
                    <div class="name">
                        <a href="/catalog/spetspredlozheniya/ogurtsy_rodnichok_marinovannye_s_b_2l.html" class="name"><span>Огурцы Родничок маринованные с/б 2л</span></a>
                    </div>
                    <div id="bx_3966226736_211490_price_block">
                        <div class="price" id="bx_3966226736_211490_price">
                            23.90 р.
                        </div>
                    </div>
                    @*<div class="product-action-label time-buy left">Успей купить</div>*@
                    <div class="hover-show bx_catalog_item_controls">
                        <div class="hover-buttons">
                            <div class="float-right">
                                <a href="#" class="button transparent add2liked" title="В избранное">
                                    <svg class="icon">
                                        <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                    </svg>
                                </a>
                                <a href="javascript:void(0);" id="bx_3966226736_211490_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="21149">
                                    <svg class="icon">
                                        <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                    </svg>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <a href="#" data-href="/catalog/spetspredlozheniya/ogurtsy_rodnichok_marinovannye_s_b_2l.html?load=Y" id="bx_3966226736_211490_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                        </div>
                        <div id="bx_3966226736_211490_price_hover_block">
                        </div>
                        @*<div class="product-action-banner timer text-center show-for-large">
                            <div class="table-container float-center">
                                <div class="info table-item">
                                    <div class="table-container">
                                        <div class="table-item time hour"><strong>00</strong> час</div>
                                        <div class="table-item time min"><strong>00</strong> мин</div>
                                        <div class="table-item time sec"><strong>00</strong> сек</div>
                                    </div>
                                </div>
                                <div class="counter table-item"><strong>24</strong> шт</div>
                            </div>
                        </div>*@
                        <div class="row row-count-cart">
                            <div class="small-6 column">
                                <div class="product-count">
                                    <div class="input-group">
                                        <div class="input-group-button">
                                            <button id="bx_3966226736_211490_quant_down" class="button decrement" type="button">-</button>
                                        </div>
                                        <input class="input-group-field" type="number" id="bx_3966226736_211490_quantity" name="quantity" value="1" min="1">
                                        <div class="input-group-button">
                                            <button id="bx_3966226736_211490_quant_up" class="button increment" type="button">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="bx_3966226736_211490_basket_actions" class="small-6 columns">
                                <a id="bx_3966226736_211490_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_3966226736_211490_pict" data-product-id="21149"><span>В корзину</span></a>
                            </div>
                        </div>
                        <div id="bx_3966226736_211490_basket_prop" style="display: none;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Мы рекомендуем</td>
                                        <td>
                                            <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="product-seeit">
            <div class="container row">
                <div class="h2"></div>
                <div class="owl-carousel product-carousel product-grid">
                    <div class="item column text-center hover-elements" id="bx_1970176138_161270">
                        <div class="img-wrap">
                            <a href="/catalog/skidki/kofe_neskafe_classic_47_5gr.html">
                                <img id="bx_1970176138_161270_pict" src="~/images/d1aff32b99aa360f7b7a2c7cbbb95c8d.webp" data-src="/upload/resize_cache/iblock/d1a/170_150_0/d1aff32b99aa360f7b7a2c7cbbb95c8d.webp" class="thumbnail lazy" alt="Конфеты Rafaello 240 гр">
                            </a>
                        </div>
                        <img id="bx_1970176138_161270_secondpict" src="~/images/98b8c4ca71eeddbfbc8f5d88f011146d.webp" class="thumbnail" alt="Конфеты Rafaello 240 гр" style="display: none;">
                        <div class="name">
                            <a href="/catalog/skidki/kofe_neskafe_classic_47_5gr.html" class="name"><span>Конфеты Rafaello 240 гр</span></a>
                        </div>
                        <div id="bx_1970176138_161270_price_block">
                            <div class="price" id="bx_1970176138_161270_price">
                                107.91 р.
                            </div>
                        </div>
                        <div class="hover-show bx_catalog_item_controls">
                            <div class="hover-buttons">
                                <div class="float-right">
                                    <a href="#" class="button transparent add2liked" title="В избранное">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                        </svg>
                                    </a>
                                    <a href="javascript:void(0);" id="bx_1970176138_161270_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="16127">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                                <a href="#" data-href="/catalog/skidki/kofe_neskafe_classic_47_5gr.html?load=Y" id="bx_1970176138_161270_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                            </div>
                            <div id="bx_1970176138_161270_price_hover_block">
                            </div>
                            <div class="row row-count-cart">
                                <div class="small-6 column">
                                    <div class="product-count">
                                        <div class="input-group">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_161270_quant_down" class="button decrement" type="button">-</button>
                                            </div>
                                            <input class="input-group-field" type="number" id="bx_1970176138_161270_quantity" name="quantity" value="1" min="1">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_161270_quant_up" class="button increment" type="button">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bx_1970176138_161270_basket_actions" class="small-6 columns">
                                    <a id="bx_1970176138_161270_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_1970176138_161270_pict" data-product-id="16127"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div id="bx_1970176138_161270_basket_prop" style="display: none;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Мы рекомендуем</td>
                                            <td>
                                                <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="item column text-center hover-elements" id="bx_1970176138_211440">
                        <div class="label-block text-left">
                            <div><span class="label warning">Новинка</span></div>
                        </div>
                        <div class="img-wrap">
                            <a href="/catalog/skidki/kazy_qazi_markazi_500gr.html">
                                <img id="bx_1970176138_211440_pict" src="~/images/537416aa9824eabbc2eef64d0772f535.JPG" data-src="/upload/resize_cache/iblock/537/170_150_0/537416aa9824eabbc2eef64d0772f535.JPG" class="thumbnail lazy" alt="Казы Qazi Markazi 500гр">
                            </a>
                        </div>
                        <img id="bx_1970176138_211440_secondpict" src="~/images/e8da75938a168edd50f2f6bc0b2d6b59.JPG" class="thumbnail" alt="Казы Qazi Markazi 500гр" style="display: none;">
                        <div class="name">
                            <a href="/catalog/skidki/kazy_qazi_markazi_500gr.html" class="name"><span>Казы Qazi Markazi 500гр</span></a>
                        </div>
                        <div id="bx_1970176138_211440_price_block">
                            <div class="price" id="bx_1970176138_211440_price">
                                105 р.
                            </div>
                        </div>
                        <div class="hover-show bx_catalog_item_controls">
                            <div class="hover-buttons">
                                <div class="float-right">
                                    <a href="#" class="button transparent add2liked" title="В избранное">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                        </svg>
                                    </a>
                                    <a href="javascript:void(0);" id="bx_1970176138_211440_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="21144">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                                <a href="#" data-href="/catalog/skidki/kazy_qazi_markazi_500gr.html?load=Y" id="bx_1970176138_211440_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                            </div>
                            <div id="bx_1970176138_211440_price_hover_block">
                            </div>
                            <div class="row row-count-cart">
                                <div class="small-6 column">
                                    <div class="product-count">
                                        <div class="input-group">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_211440_quant_down" class="button decrement" type="button">-</button>
                                            </div>
                                            <input class="input-group-field" type="number" id="bx_1970176138_211440_quantity" name="quantity" value="1" min="1">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_211440_quant_up" class="button increment" type="button">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bx_1970176138_211440_basket_actions" class="small-6 columns">
                                    <a id="bx_1970176138_211440_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_1970176138_211440_pict" data-product-id="21144"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div id="bx_1970176138_211440_basket_prop" style="display: none;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Мы рекомендуем</td>
                                            <td>
                                                <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="item column text-center hover-elements" id="bx_1970176138_211470">
                        <div class="label-block text-left">
                            <div><span class="label warning">Новинка</span></div>
                        </div>
                        <div class="img-wrap">
                            <a href="/catalog/skidki/syr_bonfesto_mozzarella_45_125g.html">
                                <img id="bx_1970176138_211470_pict" src="~/images/60c9372be655432d3fddb8bc0900be23.webp" data-src="/upload/resize_cache/iblock/60c/170_150_0/60c9372be655432d3fddb8bc0900be23.webp" class="thumbnail lazy" alt="Сыр Bonfesto Mozzarella 45% 125г">
                            </a>
                        </div>
                        <img id="bx_1970176138_211470_secondpict" src="~/images/08f1e4764f0e5383d5fb023c4bd9d944.webp" class="thumbnail" alt="Сыр Bonfesto Mozzarella 45% 125г" style="display: none;">
                        <div class="name">
                            <a href="/catalog/skidki/syr_bonfesto_mozzarella_45_125g.html" class="name"><span>Сыр Bonfesto Mozzarella 45% 125г</span></a>
                        </div>
                        <div id="bx_1970176138_211470_price_block">
                            <div class="price" id="bx_1970176138_211470_price">
                                22.90 р.
                            </div>
                        </div>
                        <div class="hover-show bx_catalog_item_controls">
                            <div class="hover-buttons">
                                <div class="float-right">
                                    <a href="#" class="button transparent add2liked" title="В избранное">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                        </svg>
                                    </a>
                                    <a href="javascript:void(0);" id="bx_1970176138_211470_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="21147">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                                <a href="#" data-href="/catalog/skidki/syr_bonfesto_mozzarella_45_125g.html?load=Y" id="bx_1970176138_211470_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                            </div>
                            <div id="bx_1970176138_211470_price_hover_block">
                            </div>
                            <div class="row row-count-cart">
                                <div class="small-6 column">
                                    <div class="product-count">
                                        <div class="input-group">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_211470_quant_down" class="button decrement" type="button">-</button>
                                            </div>
                                            <input class="input-group-field" type="number" id="bx_1970176138_211470_quantity" name="quantity" value="1" min="1">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_211470_quant_up" class="button increment" type="button">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bx_1970176138_211470_basket_actions" class="small-6 columns">
                                    <a id="bx_1970176138_211470_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_1970176138_211470_pict" data-product-id="21147"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div id="bx_1970176138_211470_basket_prop" style="display: none;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Мы рекомендуем</td>
                                            <td>
                                                <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="item column text-center hover-elements" id="bx_1970176138_161280">
                        <div class="img-wrap">
                            <a href="/catalog/skidki/kofe_neskafe_classic_85.html">
                                <img id="bx_1970176138_161280_pict" src="~/images/a54b24cfc0a8d3ffd6ca1aca60866707.webp" data-src="/upload/resize_cache/iblock/a54/170_150_0/a54b24cfc0a8d3ffd6ca1aca60866707.webp" class="thumbnail lazy" alt="Конфеты Rafaello 500 гр">
                            </a>
                        </div>
                        <img id="bx_1970176138_161280_secondpict" src="~/images/d9dcbb5024e3b6a4b11de2fe3723dd1c.webp" class="thumbnail" alt="Конфеты Rafaello 500 гр" style="display: none;">
                        <div class="name">
                            <a href="/catalog/skidki/kofe_neskafe_classic_85.html" class="name"><span>Конфеты Rafaello 500 гр</span></a>
                        </div>
                        <div id="bx_1970176138_161280_price_block">
                            <div class="price" id="bx_1970176138_161280_price">
                                279.81 р.
                            </div>
                        </div>
                        <div class="hover-show bx_catalog_item_controls">
                            <div class="hover-buttons">
                                <div class="float-right">
                                    <a href="#" class="button transparent add2liked" title="В избранное">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                        </svg>
                                    </a>
                                    <a href="javascript:void(0);" id="bx_1970176138_161280_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="16128">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                                <a href="#" data-href="/catalog/skidki/kofe_neskafe_classic_85.html?load=Y" id="bx_1970176138_161280_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                            </div>
                            <div id="bx_1970176138_161280_price_hover_block">
                            </div>
                            <div class="row row-count-cart">
                                <div class="small-6 column">
                                    <div class="product-count">
                                        <div class="input-group">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_161280_quant_down" class="button decrement" type="button">-</button>
                                            </div>
                                            <input class="input-group-field" type="number" id="bx_1970176138_161280_quantity" name="quantity" value="1" min="1">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_161280_quant_up" class="button increment" type="button">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bx_1970176138_161280_basket_actions" class="small-6 columns">
                                    <a id="bx_1970176138_161280_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_1970176138_161280_pict" data-product-id="16128"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div id="bx_1970176138_161280_basket_prop" style="display: none;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Мы рекомендуем</td>
                                            <td>
                                                <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="item column text-center hover-elements" id="bx_1970176138_211450">
                        <div class="label-block text-left">
                            <div><span class="label sale">Скидка</span></div>
                        </div>
                        <div class="img-wrap">
                            <a href="/catalog/skidki/coffe_mate.html">
                                <img id="bx_1970176138_211450_pict" src="~/images/3ccbd99c4fbe7b5d72312eecc32754e8.gif" data-src="/upload/resize_cache/iblock/3cc/170_150_0/3ccbd99c4fbe7b5d72312eecc32754e8.gif" class="thumbnail lazy" alt="Coffee mate">
                            </a>
                        </div>
                        <img id="bx_1970176138_211450_secondpict" src="~/images/7a965d6753e79b65e3e4b9f3112a9513.gif" class="thumbnail" alt="Coffee mate" style="display: none;">
                        <div class="name">
                            <a href="/catalog/skidki/coffe_mate.html" class="name"><span>Coffee mate</span></a>
                        </div>
                        <div id="bx_1970176138_211450_price_block">
                            <div class="price" id="bx_1970176138_211450_price">
                                42.42 р.
                            </div>
                        </div>
                        <div class="hover-show bx_catalog_item_controls">
                            <div class="hover-buttons">
                                <div class="float-right">
                                    <a href="#" class="button transparent add2liked" title="В избранное">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                        </svg>
                                    </a>
                                    <a href="javascript:void(0);" id="bx_1970176138_211450_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="21145">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                                <a href="#" data-href="/catalog/skidki/coffe_mate.html?load=Y" id="bx_1970176138_211450_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                            </div>
                            <div id="bx_1970176138_211450_price_hover_block">
                            </div>
                            <div class="row row-count-cart">
                                <div class="small-6 column">
                                    <div class="product-count">
                                        <div class="input-group">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_211450_quant_down" class="button decrement" type="button">-</button>
                                            </div>
                                            <input class="input-group-field" type="number" id="bx_1970176138_211450_quantity" name="quantity" value="1" min="1">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_211450_quant_up" class="button increment" type="button">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bx_1970176138_211450_basket_actions" class="small-6 columns">
                                    <a id="bx_1970176138_211450_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_1970176138_211450_pict" data-product-id="21145"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div id="bx_1970176138_211450_basket_prop" style="display: none;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Мы рекомендуем</td>
                                            <td>
                                                <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="item column text-center hover-elements" id="bx_1970176138_211480">
                        <div class="label-block text-left">
                            <div><span class="label warning">Новинка</span></div>
                        </div>
                        <div class="img-wrap">
                            <a href="/catalog/skidki/napitok_my_aloe_v_assortimente_500ml.html">
                                <img id="bx_1970176138_211480_pict" src="~/images/5a61ec526cbe5bc4d2fd69ab523a596a.jpg" data-src="/upload/resize_cache/iblock/5a6/170_150_0/5a61ec526cbe5bc4d2fd69ab523a596a.jpg" class="thumbnail lazy" alt="Напиток My Aloe в ассортименте 500мл">
                            </a>
                        </div>
                        <img id="bx_1970176138_211480_secondpict" src="~/images/1fde0d7f30b2cf6f9a52547049f4d22e.jpg" class="thumbnail" alt="Напиток My Aloe в ассортименте 500мл" style="display: none;">
                        <div class="name">
                            <a href="/catalog/skidki/napitok_my_aloe_v_assortimente_500ml.html" class="name"><span>Напиток My Aloe в ассортименте 500мл</span></a>
                        </div>
                        <div id="bx_1970176138_211480_price_block">
                            <div class="price" id="bx_1970176138_211480_price">
                                18.90 р.
                            </div>
                        </div>
                        <div class="hover-show bx_catalog_item_controls">
                            <div class="hover-buttons">
                                <div class="float-right">
                                    <a href="#" class="button transparent add2liked" title="В избранное">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                        </svg>
                                    </a>
                                    <a href="javascript:void(0);" id="bx_1970176138_211480_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="21148">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                                <a href="#" data-href="/catalog/skidki/napitok_my_aloe_v_assortimente_500ml.html?load=Y" id="bx_1970176138_211480_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                            </div>
                            <div id="bx_1970176138_211480_price_hover_block">
                            </div>
                            <div class="row row-count-cart">
                                <div class="small-6 column">
                                    <div class="product-count">
                                        <div class="input-group">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_211480_quant_down" class="button decrement" type="button">-</button>
                                            </div>
                                            <input class="input-group-field" type="number" id="bx_1970176138_211480_quantity" name="quantity" value="1" min="1">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_211480_quant_up" class="button increment" type="button">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bx_1970176138_211480_basket_actions" class="small-6 columns">
                                    <a id="bx_1970176138_211480_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_1970176138_211480_pict" data-product-id="21148"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div id="bx_1970176138_211480_basket_prop" style="display: none;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Мы рекомендуем</td>
                                            <td>
                                                <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="item column text-center hover-elements" id="bx_1970176138_161320">
                        <div class="img-wrap">
                            <a href="/catalog/skidki/khlebtsy_baker_house_250gr.html">
                                <img id="bx_1970176138_161320_pict" src="~/images/d40d15e49874a75c548392d29454eb21.jpg" data-src="/upload/resize_cache/iblock/d40/170_150_0/d40d15e49874a75c548392d29454eb21.jpg" class="thumbnail lazy" alt="Конфеты Ferrero Raffaello с цельн миндалем 100г">
                            </a>
                        </div>
                        <img id="bx_1970176138_161320_secondpict" src="~/images/151ae178391bcabe15284dc782f2583a.jpg" class="thumbnail" alt="Конфеты Ferrero Raffaello с цельн миндалем 100г" style="display: none;">
                        <div class="name">
                            <a href="/catalog/skidki/khlebtsy_baker_house_250gr.html" class="name"><span>Конфеты Ferrero Raffaello с цельн миндалем 100г</span></a>
                        </div>
                        <div id="bx_1970176138_161320_price_block">
                            <div class="price" id="bx_1970176138_161320_price">
                                50.90 р.
                            </div>
                        </div>
                        <div class="hover-show bx_catalog_item_controls">
                            <div class="hover-buttons">
                                <div class="float-right">
                                    <a href="#" class="button transparent add2liked" title="В избранное">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                        </svg>
                                    </a>
                                    <a href="javascript:void(0);" id="bx_1970176138_161320_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="16132">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                                <a href="#" data-href="/catalog/skidki/khlebtsy_baker_house_250gr.html?load=Y" id="bx_1970176138_161320_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                            </div>
                            <div id="bx_1970176138_161320_price_hover_block">
                            </div>
                            <div class="row row-count-cart">
                                <div class="small-6 column">
                                    <div class="product-count">
                                        <div class="input-group">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_161320_quant_down" class="button decrement" type="button">-</button>
                                            </div>
                                            <input class="input-group-field" type="number" id="bx_1970176138_161320_quantity" name="quantity" value="1" min="1">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_161320_quant_up" class="button increment" type="button">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bx_1970176138_161320_basket_actions" class="small-6 columns">
                                    <a id="bx_1970176138_161320_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_1970176138_161320_pict" data-product-id="16132"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div id="bx_1970176138_161320_basket_prop" style="display: none;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Мы рекомендуем</td>
                                            <td>
                                                <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="item column text-center hover-elements" id="bx_1970176138_211460">
                        <div class="label-block text-left">
                            <div><span class="label sale">Скидка</span></div>
                        </div>
                        <div class="img-wrap">
                            <a href="/catalog/skidki/det_kasha_fruto_nyanya_200g_grechnevaya_4_m_u.html">
                                <img id="bx_1970176138_211460_pict" src="~/images/f70b74e15610a86ad36fa28940cf21a7.jpg" data-src="/upload/resize_cache/iblock/f70/170_150_0/f70b74e15610a86ad36fa28940cf21a7.jpg" class="thumbnail lazy" alt="Дет/каша Фруто няня 200г гречневая 4+ м/у">
                            </a>
                        </div>
                        <img id="bx_1970176138_211460_secondpict" src="~/images/e3269793cdc4949b046d53829c94081c.jpg" class="thumbnail" alt="Дет/каша Фруто няня 200г гречневая 4+ м/у" style="display: none;">
                        <div class="name">
                            <a href="/catalog/skidki/det_kasha_fruto_nyanya_200g_grechnevaya_4_m_u.html" class="name"><span>Дет/каша Фруто няня 200г гречневая 4+ м/у</span></a>
                        </div>
                        <div id="bx_1970176138_211460_price_block">
                            <div class="price" id="bx_1970176138_211460_price">
                                27.97 р.
                            </div>
                        </div>
                        <div class="hover-show bx_catalog_item_controls">
                            <div class="hover-buttons">
                                <div class="float-right">
                                    <a href="#" class="button transparent add2liked" title="В избранное">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-liked-hover" />
                                        </svg>
                                    </a>
                                    <a href="javascript:void(0);" id="bx_1970176138_211460_compare_link" class="button transparent add2compare" title="Сравнить" data-product-id="21146">
                                        <svg class="icon">
                                            <use xlink="http://www.w3.org/1999/xlink" href="#svg-icon-compare-hover" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                                <a href="#" data-href="/catalog/skidki/det_kasha_fruto_nyanya_200g_grechnevaya_4_m_u.html?load=Y" id="bx_1970176138_211460_preview_link" class="button secondary tiny preview-button">Быстрый просмотр</a>
                            </div>
                            <div id="bx_1970176138_211460_price_hover_block">
                            </div>
                            <div class="row row-count-cart">
                                <div class="small-6 column">
                                    <div class="product-count">
                                        <div class="input-group">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_211460_quant_down" class="button decrement" type="button">-</button>
                                            </div>
                                            <input class="input-group-field" type="number" id="bx_1970176138_211460_quantity" name="quantity" value="1" min="1">
                                            <div class="input-group-button">
                                                <button id="bx_1970176138_211460_quant_up" class="button increment" type="button">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bx_1970176138_211460_basket_actions" class="small-6 columns">
                                    <a id="bx_1970176138_211460_buy_link" href="javascript:;" class="button tiny add2cart" data-preview="#bx_1970176138_211460_pict" data-product-id="21146"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div id="bx_1970176138_211460_basket_prop" style="display: none;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Мы рекомендуем</td>
                                            <td>
                                                <label><input type="radio" name="prop[RECOMEND]" value="10">да</label><br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-plus">
                <div class="container row">
                    <h2 class="main-plus-caption">Преимущества</h2>
                    <ul class="main-plus-container inline-block-container">
                        <li class="main-plus-item inline-block-item" id="bx_1373509569_36">
                            <svg class="icon main-plus-delivery">
                                <use href="#svg-icon-plus-delivery" />
                            </svg>
                            <div class="main-plus-text">Быстрая доставка в течении 30 минут</div>
                        </li>
                        <li class="main-plus-item inline-block-item" id="bx_1373509569_37">
                            <svg class="icon main-plus-payment">
                                <use href="#svg-icon-plus-payment" />
                            </svg>
                            <div class="main-plus-text">Различные возможности оплаты товаров</div>
                        </li>
                        <li class="main-plus-item inline-block-item" id="bx_1373509569_38">
                            <svg class="icon main-plus-discount">
                                <use href="#svg-icon-plus-discount" />
                            </svg>
                            <div class="main-plus-text">В нашем магазине действует гибкая система скидок</div>
                        </li>
                        <li class="main-plus-item inline-block-item" id="bx_1373509569_39">
                            <svg class="icon main-plus-return">
                                <use href="#svg-icon-plus-return" />
                            </svg>
                            <div class="main-plus-text">
                                Возможность вернуть<br>
                                не понравившийся товар<br>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-news">
                <h2 class="main-news-caption">Новости</h2>
                <div class="owl-carousel main-news-carousel is-lazy" data-slideout-ignore>
                    <a href="/company/news/16602.html" class="item" id="bx_3485106786_16602">
                        <img src="~/images/4d45016bc10824e67d2b24bb88a9ca95.jpg" data-src="/upload/resize_cache/iblock/4d4/283_220_2/4d45016bc10824e67d2b24bb88a9ca95.jpg" alt="Пышные сырники из творога..." class>
                        <span class="main-news-item-info">
                            <span class="label">24.04.2022</span>
                            <span class="main-news-item-caption">Пышные сырники из творога...</span>
                            <span class="main-news-item-desc">Пышные и воздушные домашние сырники на завтрак! Сырники - это прекрасный вариант вкусного и сытного завтрака...</span>
                        </span>
                    </a>
                    <a href="/company/news/16601.html" class="item" id="bx_3485106786_16601">
                        <img src="~/images/8a601327720a6aafe7508dd2d2459709.jpg" data-src="/upload/resize_cache/iblock/8a6/283_220_2/8a601327720a6aafe7508dd2d2459709.jpg" alt="Салат из капусты с зеленым..." class>
                        <span class="main-news-item-info">
                            <span class="label">24.04.2022</span>
                            <span class="main-news-item-caption">Салат из капусты с зеленым...</span>
                            <span class="main-news-item-desc">Вкусный и полезный, из простых продуктов, без майонеза! Салат из капусты с зеленым горошком настолько...</span>
                        </span>
                    </a>
                    <a href="/company/news/16600.html" class="item" id="bx_3485106786_16600">
                        <img src="~/images/dba0c00147b378ffb5e85b8e989e0f6c.jpg" data-src="/upload/resize_cache/iblock/dba/283_220_2/dba0c00147b378ffb5e85b8e989e0f6c.jpg" alt="Пышный пирог на кефире в..." class>
                        <span class="main-news-item-info">
                            <span class="label">24.04.2022</span>
                            <span class="main-news-item-caption">Пышный пирог на кефире в...</span>
                            <span class="main-news-item-desc">Из обычных продуктов, быстрый и простой, очень вкусный! Пышный пирог на кефире в духовке — еще один рецепт...</span>
                        </span>
                    </a>
                    <a href="/company/news/16338.html" class="item" id="bx_3485106786_16338">
                        <img src="~/images/2fc5fa6cac7a778c15f7b1b61a15cb77.jpg" data-src="/upload/resize_cache/iblock/2fc/283_220_2/2fc5fa6cac7a778c15f7b1b61a15cb77.jpg" alt="Килограмм за раз: что..." class>
                        <span class="main-news-item-info">
                            <span class="label">21.12.2021</span>
                            <span class="main-news-item-caption">Килограмм за раз: что...</span>
                            <span class="main-news-item-desc">Даже самый полезный продукт может оказаться вредным в чрезмерных количествах.</span>
                        </span>
                    </a>
                    <a href="/company/news/16337.html" class="item" id="bx_3485106786_16337">
                        <img src="~/images/07e173a6fbe8ca7a45a976e02aa21cf2.jpg" data-src="/upload/resize_cache/iblock/07e/283_220_2/07e173a6fbe8ca7a45a976e02aa21cf2.jpg" alt="Салат Елочка на Новый Год" class>
                        <span class="main-news-item-info">
                            <span class="label">21.12.2021</span>
                            <span class="main-news-item-caption">Салат Елочка на Новый Год</span>
                            <span class="main-news-item-desc">Салат в виде елочки - символа Нового года и Рождества.</span>
                        </span>
                    </a>
                    <a href="/company/news/16336.html" class="item" id="bx_3485106786_16336">
                        <img src="~/images/46b090b572fa5e33950d2e6b039f024c.jpg" data-src="/upload/resize_cache/iblock/46b/283_220_2/46b090b572fa5e33950d2e6b039f024c.jpg" alt="Новогодний Салат Тигр" class>
                        <span class="main-news-item-info">
                            <span class="label">21.12.2021</span>
                            <span class="main-news-item-caption">Новогодний Салат Тигр</span>
                            <span class="main-news-item-desc">Эффектный, очень вкусный, яркий и красивый! Новогодний Салат Тигр с курицей грибами и картошкой На Новый 2022...</span>
                        </span>
                    </a>
                    <a href="/company/news/16335.html" class="item" id="bx_3485106786_16335">
                        <img src="~/images/8401ac74ca66c7c451cef18e28fc0b24.jpg" data-src="/upload/resize_cache/iblock/840/283_220_2/8401ac74ca66c7c451cef18e28fc0b24.jpg" alt="Классический салат Оливье" class>
                        <span class="main-news-item-info">
                            <span class="label">21.12.2021</span>
                            <span class="main-news-item-caption">Классический салат Оливье</span>
                            <span class="main-news-item-desc">Классический салат Оливье с колбасой и солеными огурцами</span>
                        </span>
                    </a>
                    <a href="/company/news/42.html" class="item" id="bx_3485106786_42">
                        <img src="~/images/4bf63d64d17b315f7c9125431ae32e47.jpg" data-src="/upload/iblock/4bf/4bf63d64d17b315f7c9125431ae32e47.jpg" alt="Сколько стоит Клубничное..." class>
                        <span class="main-news-item-info">
                            <span class="label">14.12.2021</span>
                            <span class="main-news-item-caption">Сколько стоит Клубничное...</span>
                            <span class="main-news-item-desc">Порой всего лишь ложечка вкусного домашнего клубничного варенья способна поднять настроение...</span>
                        </span>
                    </a>
                    <a href="/company/news/41.html" class="item" id="bx_3485106786_41">
                        <img src="~/images/8e9c9e0070ab7cd2633a5999fc70842e.jpg" data-src="/upload/iblock/8e9/8e9c9e0070ab7cd2633a5999fc70842e.jpg" alt="Апельсиновый сок." class>
                        <span class="main-news-item-info">
                            <span class="label">14.12.2021</span>
                            <span class="main-news-item-caption">Апельсиновый сок.</span>
                            <span class="main-news-item-desc">Апельсиновый сок — популярный напиток для завтрака, получаемый выдавливанием жидкости из...</span>
                        </span>
                    </a>
                    <a href="/company/news/40.html" class="item" id="bx_3485106786_40">
                        <img src="~/images/a6ca5b9e1d035be8cdb27c0c15d2d729.jpg" data-src="/upload/iblock/a6c/a6ca5b9e1d035be8cdb27c0c15d2d729.jpg" alt="Практически всех дам..." class>
                        <span class="main-news-item-info">
                            <span class="label">14.12.2021</span>
                            <span class="main-news-item-caption">Практически всех дам...</span>
                            <span class="main-news-item-desc">Практически всех дам интересует вопрос стройности и здоровья. А как же иначе? Конечно, всем нам хочется быть...</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
