@{
    ViewData["Title"] = "Ошибка";
    Layout = "";
}

<section class="auth-section">
    <div class="inner-section">

        <div class="auth-form-wrap">
            <div class="login-error-block active">
                <div class="title">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="64" height="64" rx="32" fill="#FDEEEE"/>
                        <path d="M32 30.1146L38.6 23.5146L40.4853 25.4L33.8853 32L40.4853 38.6L38.6 40.4853L32 33.8853L25.4 40.4853L23.5146 38.6L30.1146 32L23.5146 25.4L25.4 23.5146L32 30.1146Z" fill="#EE505A"/>
                    </svg>
                    <span>
                        Вход в личный кабинет <br/>
                        не выполнен!
                    </span>
                </div>

                <p>
                    Произошла ошибка входа
                </p>

                <a href="/admin" class="button">На страницу авторизации</a>
            </div>

        </div>

    </div>
</section>