<section class="inner">
    <div class="advanced-container-medium">
        <nav>
            <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" title="Джоконда" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Джоконда</span></a><meta itemprop="position" content="1"></li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Интернет магазин</span></span><meta itemprop="position" content="2"></li>
            </ul>
        </nav>
        <article class="inner-container">
            <h1>Интернет магазин</h1>
            <nav class="inner-menu columns show-for-xlarge">
                <ul class="menu vertical">
                    <li class="active"><a href="@Url.Action("Index", "Shop")">Интернет магазин</a></li>
                    <li><a href="@Url.Action("Index", "Payment")">Оплата заказа</a></li>
                    <li><a href="@Url.Action("Index", "Delivery")">Доставка товара</a></li>
                    <li><a href="@Url.Action("Index", "Return")">Возврат и обмен</a></li>
                </ul>
            </nav>
            <div class="inner-content columns">
                <p>
                    Наш интернет-магазин начал свою работу в феврале 2021 года, и мы надеемся, что с момента начала работы сайта мы приобретём множество довольных клиентов. Наша работа будет осуществляться качественно и в срок, мы будем стараться для своих клиентов!
                </p>
                <div>
                    Интернет — магазин приглашает Вас выбрать и купить понравившийся вам товар по выгодной цене! На сайте представлены товары известных мировых производителей. Заказать понравившийся товар можно круглосуточно, что, несомненно, очень удобно для большинства наших клиентов.<br>
                    <br>
                    В нашем интернет — магазине товар может приобрести как частное лицо, так и организация (юридическое лицо). Желаем приятного выбора и удачной покупки!
                </div>
            </div>
        </article>
    </div>
</section>
