<section class="inner">
    <div class="advanced-container-medium">
        <nav>
            <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" title="Джоконда" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Джоконда</span></a><meta itemprop="position" content="1"></li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="@Url.Action("Index", "AboutUs")" title="О нас" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">О нас</span></a><meta itemprop="position" content="2"></li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Документы</span></span><meta itemprop="position" content="3"></li>
            </ul>
        </nav>
        <article class="inner-container">
            <h1>Документы</h1>
            <div class="inner-content full-width">
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item" data-accordion-item id="bx_3218110189_123">
                        <a href="#" class="accordion-title inline-block-container">
                            <span class="arrow inline-block-item vertical-middle"></span>
                            <span class="desc row inline-block-item vertical-middle">
                                <strong class="name column large-6">Документ №1</strong>
                                <span class="info value column large-6" >Текст про Документ 1</span>
                            </span>
                        </a>
                        <div class="accordion-content row" data-tab-content>
                            <div class="inner-content-vacancy-info columns large-8 xxlarge-9">
                                <p>Текст документа </p>
                            </div>
                            <div class="columns large-4 xxlarge-3">
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item id="bx_3218110189_124">
                        <a href="#" class="accordion-title inline-block-container">
                            <span class="arrow inline-block-item vertical-middle"></span>
                            <span class="desc row inline-block-item vertical-middle">
                                <strong class="name column large-6">Документ №2</strong>
                                <span class="info value column large-6">Текст про Документ 2</span>
                            </span>
                        </a>
                        <div class="accordion-content row" data-tab-content>
                            <div class="inner-content-vacancy-info columns large-8 xxlarge-9">
                                <p>Текст документа </p>
                            </div>
                            <div class="columns large-4 xxlarge-3">
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item id="bx_3218110189_125">
                        <a href="#" class="accordion-title inline-block-container">
                            <span class="arrow inline-block-item vertical-middle"></span>
                            <span class="desc row inline-block-item vertical-middle">
                                <strong class="name column large-6">Документ №3</strong>
                                <span class="info value column large-6">Текст про Документ 3</span>
                            </span>
                        </a>
                        <div class="accordion-content row" data-tab-content>
                            <div class="inner-content-vacancy-info columns large-8 xxlarge-9">
                                <p>Текст документа</p>
                            </div>
                            <div class="columns large-4 xxlarge-3">
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item id="bx_3218110189_126">
                        <a href="#" class="accordion-title inline-block-container">
                            <span class="arrow inline-block-item vertical-middle"></span>
                            <span class="desc row inline-block-item vertical-middle">
                                <strong class="name column large-6">Документ №4</strong>
                                <span class="info value column large-6">Текст про Документ 4</span>
                            </span>
                        </a>
                        <div class="accordion-content row" data-tab-content>
                            <div class="inner-content-vacancy-info columns large-8 xxlarge-9">
                                <p>Текст документа</p>
                            </div>
                            <div class="columns large-4 xxlarge-3">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</section>