<section class="inner">
    <div class="advanced-container-medium">
        <nav>
            <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" title="Джоконда" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Джоконда</span></a><meta itemprop="position" content="1"></li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="@Url.Action("Index", "Shop")" title="Интернет магазин" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Интернет магазин</span></a><meta itemprop="position" content="2"></li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Доставка товара</span></span><meta itemprop="position" content="3"></li>
            </ul>
        </nav>
        <article class="inner-container">
            <h1>Доставка товара</h1>
            <nav class="inner-menu columns show-for-xlarge">
                <ul class="menu vertical">
                    <li><a href="@Url.Action("Index", "Payment")">Оплата заказа</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Delivery")">Доставка товара</a></li>
                    <li><a href="@Url.Action("Index", "Return")">Возврат и обмен</a></li>
                </ul>
            </nav>
            <div class="inner-content columns">
                <h4>
                    <p>
                        Как это работает:
                    </p>
                    <p>
                        Джоконда - это сервис доставки продуктов за 30 минут. Мы соберем ваш заказ и доставим с собственного склада всего за 30 минут.
                        <br>Вам лишь нужно:
                        <br>-> Выбираете понравившийся товар на сайте.
                        <br>-> Заполняете корзину продуктами.
                        <br>-> Выбираете способ оплаты, адрес и время доставки и вуаля!
                    </p>
                    <p>
                        Мы берем товары прямо со склада.
                        Поэтому есть вероятность того, что перед приходом сборщика за одним из продуктов вашего заказа нужный товар закончится.
                        В таких случаях сборщик позвонит вам и предложит заменить его на такой же товар в той же ценовой категории, но от другого производителя.
                        Такие же правила действуют и в случаях, если товар не соответствует стандартам качества Джоконда (помятый, нарушена упаковка, изменил цвет и пр.) или у него спорный срок годности.
                    </p>
                    <p>
                        Время работы и стоимость доставки:
                    </p>
                    <p>
                        Время работы сервиса доставки: Круглосуточно<br>
                        <br>
                        <span style="font-size: 12pt;"><b>Беслатная доставка.</b></span>
                    </p>
                    <p>
                        Минимальная сумма заказа составляет 250 руб.<br>
                    </p>
                    <p>
                        <b>Стоимость доставки: 20 руб. </b>
                    </p>
                    Минимальная сумма заказа составляет 100 руб.
                    <p>
                        Время доставки – от 15 мин до 30 мин.
                    </p>
                </h4>
            </div>
        </article>
    </div>
</section>