<section class="inner">
    <div class="advanced-container-medium">
        <nav>
            <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" title="Джоконда" itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Джоконда</span></a><meta itemprop="position" content="1"></li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="item" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Информация</span></span><meta itemprop="position" content="2"></li>
            </ul>
        </nav>
        <article class="inner-container">
            <h1>Информация</h1>
            <nav class="inner-menu columns show-for-xlarge">
                <ul class="menu vertical">
                    <li class="active"><a href="@Url.Action("Index", "Info")">Информация</a></li>
                    <li><a href="@Url.Action("Index", "Supplier")">Поставщикам</a></li>
                    <li><a href="/info/guaranty/">Гарантия</a></li>
                    <li><a href="/faq/">FAQ</a></li>
                </ul>
            </nav>
            <div class="inner-content columns">
                <h3>Об интернет-магазине</h3>
                <p>
                    Мы рады приветствовать вас в маркет-плейсе – Джоконда.
                </p>
                <p>
                    Мы ориентированы исключительно на продуктах питания, и это - придает покупателям ряд очевидных преимуществ:
                </p>
                <ul>
                    <li><b>Широкий ассортимент из ваших любимых магазинов и рынка.</b></li>
                    <li><b>Низкие цены.</b></li>
                </ul>
                <p>
                    Цены в маркет-плейсе ниже, чем в других традиционных интернет-магазинах.
                </p>
                <p>
                    Наша компания ориентирована на максимальный комфорт наших покупателей. Вы можете совершить покупки не только с одного магазина, но сразу с нескольких. Наш оператор свяжется с вами, и доставка осуществится в удобное для вас время.
                </p>
            </div>
        </article>
    </div>
</section>