<section class="cart">
    <div class="inner-bg">
        <div class="advanced-container-medium">
            <nav class="show-for-large">
                <ul class="breadcrumbs cart">
                    <li class="active"><div class="float-right"><span>1</span> Корзина</div></li>
                    <li><div class="float-right"><span>2</span> Контакты и доставка</div></li>
                    <li><div class="float-right"><span>3</span> Оплата</div></li>
                </ul>
            </nav>
            <article class="inner-container cart-container">
                <div id="empty_basket">
                    <div class="text-center">
                        <div class="cart-caption">Корзина</div>
                    </div>
                    <div class="cart-content cart-empty text-center inline-block-container">
                        <div class="cart-empty-icon inline-block-item vertical-middle">
                            <svg class="icon">
                                <use xlink:href="#svg-icon-cart" />
                            </svg>
                        </div>
                        <div class="inline-block-item vertical-middle">Ваша корзина пуста</div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>