<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Социальный калькулятор</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/lib/jquery-chosen/chosen.css" />
    @*<link rel="stylesheet" href="~/lib/jquery-chosen/chosen.css" />*@
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    <header class="header">

        <nav class="header-menu">
            <ul class="navbar-nav header-menu-links">
                <li>
                    <a id="menuItem1" asp-area="admin" asp-controller="Categories" asp-action="Index">Категории</a>
                </li>
                <li>
                    <a id="menuItem2" asp-area="admin" asp-controller="Products" asp-action="Index">Продукты</a>
                </li>
            </ul>
        </nav>

        <div class="header-menu-bottom">
            <ul class="header-menu-list">
                @*<li class="nav-item">
                    <button class="btn btn-success" style="margin-right: 1em" onclick="UpdateCache()">Обновить кэш</button>
                </li>*@
                <li class="nav-item">
                    <a class="btn btn-back" style="margin-right: 1em" asp-area="" asp-controller="Home" asp-action="Index">Вернуться на сайт</a>
                </li>
            </ul>

            @await Html.PartialAsync("_LoginPartial")
        </div>

    </header>


    <main role="main" class="main">
        <section class="content-section">
            <div class="inner-section">
                @RenderBody()
                <div class="btn-up btn-up_hide arrow circle up"></div>
            </div>
        </section>
    </main>

    <div id="loader" class="loader"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-chosen/chosen.jquery.min.js"></script>
    @*<script src="~/js/common.js"></script>*@
    @*<script src="~/lib/jquery-chosen/chosen.jquery.min.js"></script>*@

    <script>
        //function UpdateCache() {
        //    $('#loader').fadeIn(250);
        //    $.ajax({
        //        type: "GET",
        //        url: '@Url.Action("UpdateCache", "Home")',
        //        success: function () {
        //            $('#loader').fadeOut(250);
        //            alert("Кэш обновлен");
        //        }
        //    });
        //}
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>